.expret-icon nav {
  overflow: hidden;
}
.expret-icon a {
  float: left;
  width: 25%;
  height: 4.57777778rem;
}
.expret-icon span {
  color: #dbdbdb;
  font-size: 0.44444444rem;
  text-align: center;
  margin-top: 2.96296296rem;
  display: block;
}
.expret-icon .icon1 {
  background: url(../img/expert/1.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon2 {
  background: url(../img/expert/2.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon3 {
  background: url(../img/expert/3.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon4 {
  background: url(../img/expert/4.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon5 {
  background: url(../img/expert/5.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon6 {
  background: url(../img/expert/6.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon7 {
  background: url(../img/expert/7.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon7 {
  background: url(../img/expert/7.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon8 {
  background: url(../img/expert/8.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon9 {
  background: url(../img/expert/9.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon10 {
  background: url(../img/expert/10.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon11 {
  background: url(../img/expert/11.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon12 {
  background: url(../img/expert/12.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon13 {
  background: url(../img/expert/13.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon14 {
  background: url(../img/expert/14.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon15 {
  background: url(../img/expert/15.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon16 {
  background: url(../img/expert/16.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon17 {
  background: url(../img/expert/17.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
.expret-icon .icon18 {
  background: url(../img/expert/18.png) center 1.18518519rem no-repeat #fff;
  background-size: 0.94814815rem 0.94814815rem;
  border: 1px solid #FAFAFA;
}
