.maintenace-list .filter nav a {
  color: #333;
}
.maintenace-list .filter nav a.active,
.maintenace-list .filter nav a:active {
  color: #f5a93b;
}
.maintenace-list .product-item .label em {
  color: #f5a93b;
}
.maintenace-list .product-item .tag span {
  color: #f5a93b;
  border-color: #f5a93b;
}
.maintenace-list .product-item .control a {
  color: #f5a93b;
  border-color: #f5a93b;
  font-size: 0.44444444rem;
}
.maintenace-list .grab-state button {
  color: #f5a93b;
  border-color: #f5a93b;
  background-color: #fff;
}
.maintenace-list .grab-remarks {
  color: #f5a93b;
}
.maintenace-list .detail-worktime .active,
.maintenace-list .detail-price .active {
  color: #f5a93b;
  border: 1px solid #f5a93b !important;
}
.maintenace-list .title span {
  background-color: #f5a93b;
}
.maintenace-list .detail-comment .comment-content span {
  color: #f5a93b;
}
.footer-menu-yellow .link {
  background-color: #f5a93b;
}
.maintenace-list .filter1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.maintenace-list .filter1 nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.maintenace-list .filter1 nav a {
  display: inline-block;
  height: 1.86666667rem;
  line-height: 1.86666667rem;
  font-size: 0.54814815rem;
  color: #333;
}
.maintenace-list .filter1 nav .active1 {
  border-bottom: 1px solid #f5a93b;
  color: #f5a93b;
}
.maintenace-list .carserver-list .product-item {
  position: relative;
}
.maintenace-list .carserver-list .product-item .product-info .icon-type1 {
  background-image: none;
  padding-left: 0;
  line-height: 1.03703704rem;
}
.maintenace-list .carserver-list .product-item .product-info .control {
  padding-top: 0;
}
.maintenace-list .carserver-list .product-item .product-info .control span {
  font-size: 0.53333333rem;
  margin-right: 0.25185185rem;
  color: #464646;
}
.maintenace-list .carserver-list .product-item .product-info .control del {
  display: inline-block;
  line-height: 0.96296296rem;
  color: #c4c3c3;
  font-size: 0.44444444rem;
}
.maintenace-list .carserver-list .product-item .product-info .label {
  margin-top: 0.22222222rem;
}
.maintenace-list .carserver-list .product-item .product-info .raty {
  padding-bottom: 0.34074074rem;
}
.maintenace-list .carserver-list .product-item .order {
  display: block;
  position: absolute;
  right: 0.44444444rem;
  top: 35%;
  padding: 0.34074074rem 0.66666667rem;
  border: 1px solid #f5a93b;
  color: #f5a93b;
  border-radius: 0.59259259rem;
  font-size: 0.44444444rem;
}
