.pending .filter nav a {
  color: #333;
}
.pending .filter nav a.active,
.pending .filter nav a:active {
  color: #f5a93b;
}
.pending .product-item .label em {
  color: #f5a93b;
}
.pending .product-item .tag span {
  color: #f5a93b;
  border-color: #f5a93b;
}
.pending .product-item .control a {
  color: #f5a93b;
  border-color: #f5a93b;
}
.pending .grab-state button {
  color: #f5a93b;
  border-color: #f5a93b;
  background-color: #fff;
}
.pending .grab-remarks {
  color: #f5a93b;
}
.pending .detail-worktime .active,
.pending .detail-price .active {
  color: #f5a93b;
  border: 1px solid #f5a93b !important;
}
.pending .title span {
  background-color: #f5a93b;
}
.pending .detail-comment .comment-content span {
  color: #f5a93b;
}
.footer-menu-yellow .link {
  background-color: #f5a93b;
}
.pending .product-detail .product {
  width: 100%;
  margin: 0 auto;
  font-size: 0.59259259rem;
  line-height: 1.18518519rem;
}
.pending .pending-info {
  height: 5.58518519rem;
  position: relative;
}
.pending .pending-info .product-item .product-info .icon-type1 {
  background-image: none;
  padding-left: 0;
  line-height: 1.03703704rem;
}
.pending .pending-info .product-item .product-info .label {
  margin-bottom: 0;
  margin-top: 0.2962963rem;
}
.pending .pending-info .info-price {
  position: absolute;
  right: 1.74814815rem;
  top: 2.11851852rem;
}
.pending .pending-info .info-price span:nth-of-type(1) {
  color: #f5a93b;
  font-size: 0.66666667rem;
}
.pending .pending-info .info-price span:nth-of-type(2) {
  color: #a1a1a1;
  font-size: 0.35555556rem;
}
.pending .detail-process {
  height: 8.11851852rem;
}
.pending .detail-process .pending-process {
  padding-left: 0.63703704rem;
  padding-right: 0.94814815rem;
}
.pending .detail-process .pending-process p {
  line-height: 0.8rem;
  font-size: 0.48888889rem;
  color: #282828;
  margin-bottom: 0;
}
.pending .detail-price .one {
  display: inline-block;
  padding: 0.32592593rem 0.96296296rem;
  border: 1px solid #333;
  font-size: 0.48888889rem;
  border-radius: 0.2962963rem;
  margin-top: 0.81481481rem;
  margin-bottom: 1.00740741rem;
}
.pending .detail-price .one:not(:first-child) {
  margin-top: 0.42962963rem;
}
.pending .pending-ready {
  height: 12.88888889rem;
}
.pending .pending-ready dl {
  padding-left: 1.15555556rem;
  font-size: 0.47407407rem;
}
.pending .pending-ready dl dt {
  line-height: 0.97777778rem;
}
.pending .pending-ready dl dd {
  margin-left: 0;
  line-height: 0.77037037rem;
}
.pending .pending-join {
  margin-bottom: 0.37037037rem;
}
