<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/stylesheet.css" />
	</head>

	<body>
		<header class="common-header">

			<a  class="icon-back mui-action-back"></a>
			<h1>订单详情</h1>

		</header>
		
		<div class="mui-content appoint-detail order customer-service">
                <!--<div class="order-item">
                    <div class="info">
                        <img src="../../images/order/tu1.png" alt="">
                        <div class="info-detail">
                            <h3>家庭保洁清洗</h3>
                            <span>￥508元  </span>
                        </div>
                    </div>
                </div>
			<div class="appoint-detail-content">
				<ol style="padding-bottom: 360px;">
					<li><i>预约地点：</i><span>青岛市李沧区万达广场</span></li>
					<li><i>预约时间：</i><span>2017.03.24 12:00</span></li>
					<li><i>联系人：</i><span>张玉</span></li>
					<li><i>联系电话：</i><span>13706342556</span></li>
				</ol>
				<div class="wating-p">
					<p><i>预约地点：</i><span>青岛市李沧区万达广场</span></p>
					<p><i>预约地点：</i><span>青岛市李沧区万达广场</span></p>
					<p><i>预约地点：</i><span>青岛市李沧区万达广场</span></p>
				</div>
			</div>-->
		</div>
		<script type="text/html" id="order-detail">
			<% if(code == 200){ %>
				<div class="appoint-detail-content">
					<ol style="padding-bottom:3rem;">
						<li><i style="width: 3.962963rem;">购买人：</i><span><%= datas.order_info.buyer_name %></span></li>
						<li><i style="width: 3.962963rem;">联系电话：</i><span><%= datas.order_info.buyer_phone %></span></li>
						<li><i style="width: 3.962963rem;">订单总金额：</i><span><%= datas.order_info.order_amount %></span></li>
						<li><i style="width: 3.962963rem;">购买时间：</i><span><%= datas.order_info.add_time %></span></li>
						<li><i style="width: 3.962963rem;">支付方式：</i><span><%= datas.order_info.payment_name %></span></li>
					</ol>
				</div>
			<% } %>
		</script>
		
		<script type="text/javascript" src="../../js/hotcss.js" ></script>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/config.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/seller/seller-order-detail.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>